<style>
              * {
                            box-sizing: border-box;
              }

              body {
                            font-family: Arial, Helvetica, sans-serif;
                            background-color: lightblue ;        }


              header {
                            padding: 20px;
                            text-align: center;
                            font-size: 20px;
                            color: white;
                            padding-top: 1px;
                            font-family: Arial, Helvetica, sans-serif;
              }

              section {
                            display: -webkit-flex;
                            display: flex;
              }


              nav {
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            background-color: white
                            padding: 20px;


              }


              nav ul {
                            list-style-type: none;
                            padding: 0;
                            font-size: 25px;
                            color: #d7d1c5;
              }

              
            
              article {
                            -webkit-flex: 3;
                            -ms-flex: 3;
                            flex: 3;
                            background-color: #d7d1c5;
                            padding: 30px;
              }

              
              footer {
                            background-color:#d7d1c5;
                            padding: 10px;
                            text-align: center;
                            color: white;
              }


(max-width: 600px) {
                            section {
                                          -webkit-flex-direction: column;
                                          flex-direction: column;
                            }
              }
</style>